<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} %c{1}: %msg%n" />
		</Console>
		<File name="ServerFile" fileName="logs/server.log">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} %c{1}: %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<appender-ref ref="Console" level="info" />
			<appender-ref ref="ServerFile" level="info" />
		</Root>
	</Loggers>
</Configuration>
